/*set root colors*/
:root {
    --primary-color: #141613;
    --secondary-color: #FF8325;
    --accent1-color: #2D937D;
    --accent2-color: #CB4886;
}

/*select whole document attribute sizes and primary color*/
* {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header a {
    text-decoration: none;
} */

/*Header logo and navigation links*/
header .logo-box, nav {
    border: none;
    margin: 0;
    background-color: var(--secondary-color);
    text-decoration: none;
}

/*Header navigation links background color*/
header a {
    background-color: transparent;
}

/*All sections border and margin*/
section {
    border: 2px solid transparent;
    margin: 15px 0;
}

/*Hero section, image and article paragraph and image selectors*/
.hero {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    align-items: center;
    display: block;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    font-family: "Archivo Black";
    font-size: 2.5rem;
    position: absolute;
    color: #efefef;
    background-color: transparent;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0 , 0.7);
    z-index: 2;
    width: 100%;
}

/*hero article paragraph and image selectors*/
.hero article {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 3%;
    right: 3%;
    background-color: rgba(205, 205, 205, 0.4);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, var(--accent1-color) 50%, var(--accent2-color) 50%);
    border-image-slice: 1;
    padding: 1.5rem;
    max-width: 94%;
    text-align: left;
    z-index: 2;
}

.hero article img {
    float: right;
    margin-left: 1rem;
    width: auto;
    height: 149px;
}

.hero article p {
    background-color: transparent;
    overflow-y: auto;
    max-height: 100%;
}

/*Hero article paragraph scrollbar if paragraph is too long to fit*/
.hero article p::-webkit-scrollbar {
    width: 8px;
}

/*scrollbar color and shape*/
.hero article p::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/*history section*/
.history {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, var(--accent1-color) 50%, var(--accent2-color) 50%);
    border-image-slice: 1;
}

/*adventure awaits section*/
.adventure-awaits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, var(--accent1-color) 50%, var(--accent2-color) 50%);
    border-image-slice: 1;
    padding: 0 6rem 2rem 6rem;
}

.adventure-awaits h2 {
    grid-column: span 2;
    text-align: center;
    color: #efefef;
    font-family: "Archivo Black";
    
}

/*adventure awaits image layout in declared grid*/
.adventure-awaits img {
    width: 100%;
    height: auto;
}

.adventure-awaits img:nth-child(6) {
    grid-column: span 2;
}

/*History and Adventure awaits you! headings*/
h2 {
    font-family: "Archivo Black";
    font-size: 2rem;
    text-align: center;
    color: #efefef;
    padding: 2rem 2rem 1rem 2rem;
}

/*history paragraph*/
.history p {
    color: #efefef;
    padding: 1rem 2rem 2rem 2rem;
}

/*Footer selectors for color, image and navigation image links declarations*/
footer p {
    background-color: var(--secondary-color);
}

footer nav a img{
    width: 30px;
    background-color: var(--secondary-color);
}

footer a {
    text-decoration: none;
    background-color: transparent;
}